<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset = "UTF-8">
	<meta http-equiv ="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    
    <meta name="description" content="明日愁等明日来">
    <meta name="keywords" content="个人网站，有趣web应用，网站制作，天气查询">
    <meta name="theme-color" content="#279de4">
    <meta name="author" content="ruier"/>

    <link rel="icon" type="image/png" sizes="32x32" href="/public/img/zhao.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/public/img/zhao.png">

    <title>ruier - web趣应用{{ block "title" }}{{ /block }}</title>

    
    {{ block "style" }}{{ /block }}

</head>
<body>
    {{ block "container" }}{{ /block }}
</body>
{{ block "script" }}{{ /block }}
</html>